.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}



.done {
  text-decoration: line-through;
  color: red;
}

.doing {
  color: green
}

.myTodos {
  border: solid white 2px;
  border-radius: 25px;
  width: 80vw;
  padding: 0em 1em 0.5em 1em;
}

.myTodos ul {
  text-align: center;
  padding-inline-start: 0;
}

.myTodos ul li {
  list-style:none;
  display: flex;
  justify-content: space-between;
}

.addTodoButton {
  background-color: purple;
  font-weight: bold;
  margin: 1em;
  width:20vw;
}

.doneButton {
  background-color: white;
  margin-top:0.5em;
}

.deleteButton {
  background-color: white;
  margin-top:0.5em;
}
